OXIDESTREAM_GRPC_PORT=50050
OXIDESTREAM_HTTP_PORT=8080
OXIDESTREAM_HOST=

OXIDESTREAM_HEARTBEAT_TIMEOUT=10s
OXIDESTREAM_MAX_WORKERS=100

OXIDESTREAM_FAIR_SCHEDULER_SLOTS=8
OXIDESTREAM_COALESCE_THRESHOLD=20000
OXIDESTREAM_BROADCAST_THRESHOLD=50000

OXIDESTREAM_API_KEYS=
OXIDESTREAM_RATE_LIMIT=1000
OXIDESTREAM_ALLOW_ORIGINS=*

OXIDESTREAM_LOG_LEVEL=info
OXIDESTREAM_LOG_FORMAT=text